GamesLib/
Game_1/x64/Debug/Game_1.exe
Game_1/x64/Debug/Game_1.ilk
Game_1/x64/Debug/
Game_1/Game_1/x64/Debug/rasterizer.obj
Game_1/.vs/Game_1/v16/Browse.VC.db
Game_1/.vs/Game_1/v16/Browse.VC.db-shm
Game_1/.vs/
Game_1/Game_1/x64/
